@font-face {
  font-family: '29LT Bukra';
  src: url('../src/fonts/29ltbukra.ttf');
  src: local('29LT Bukra Light'), local('29LTBukra-Light'), format('ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'BukraAlt_Bold';
  src: url('../src/fonts/BukraAlt_Bold.ttf');
  src: local('BukraAlt_Bold'), local('BukraAlt_Bold'), format('woff2');
  font-weight: 600;
  font-style: normal;
}

* {
  font-family: '29LT Bukra';
}

body {
  direction: rtl;
}

a {
  color: #000;
  font-weight: 600;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}